html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  outline: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  background-color: #111;
  color: #aaa;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1 {
  color: #aaa;
  border-bottom: 1px solid #333;
  padding: 15px 10px;
  font-size: 22px;
}

a {
  color: #1e8ad6;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#content {
  overflow-x: hidden;
}

/* Story list */
#stories li,
#story {
  padding: 10px;
  border-bottom: 1px solid #333;
}
.story-title {
  font-size: 16px;
  margin-bottom: 5px;
  color: #1e8ad6;
}
.story-content,
.comment-content {
  font-size: 14px;
  line-height: 1.3;
  color: #aaa;
}
.story-thumb {
  width: 80px;
  float: right;
  margin-left: 10px;
}
.story-detail {
  font-size: 12px;
  margin-bottom: 5px;
  color: #1e8ad6;
}
.story-links {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

/* Comments */

#comments li {
  padding: 10px;
  border-bottom: 1px solid #333;
  font-size: 14px;
  line-height: 1.3;
}
.comment-karma {
  float: right;
}
.comment-medal {
  font-size: 22px;
}
.comment-detail {
  font-weight: bold;
  margin-bottom: 5px;
}
.comment-emoji {
  width: 18px;
  height: 18px;
  vertical-align: -4px;
}

.spinner {
  border: 3px solid #333;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #08c;
  animation: spin 1s linear infinite;
  margin: 10px auto 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
